In [203]:
import pandas as pd
import numpy as np

https://www.kaggle.com/datasets/iamsouravbanerjee/customer-shopping-trends-dataset

In [204]:
df = pd.read_csv("shopping_trends_updated.csv")

Датасет содержит набор данных о покупательских предпочтениях клиентов. Предлагает ценную информацию о поведении потребителей и моделях покупок. 

| Признак         | Описание                                              | Единицы измерения |
|-----------------|-------------------------------------------------------|-------------------|
| Gender          | Gender of the customer (Male/Female)                  |                   |
| Category        | Category of the item purchased                        |                   |
| Location        | Location where the purchase was made                  |                   |
| Review Rating   | Rating given by the customer for the purchased item   |                   |
| Shipping Type   | Type of shipping chosen by the customer               |                   |
| Payment Method  | Customer's most preferred payment method              |                   |

In [205]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [206]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.749949,25.351538
std,1125.977353,15.207589,23.685392,0.716223,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.700000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [207]:
df["Item Purchased"][0]

'Blouse'

In [208]:
df[0:10]

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Standard,Yes,Yes,14,Venmo,Weekly
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,3.2,Yes,Free Shipping,Yes,Yes,19,Credit Card,Weekly
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,2.6,Yes,Express,Yes,Yes,8,Venmo,Annually
9,10,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,4.8,Yes,2-Day Shipping,Yes,Yes,4,Cash,Quarterly

In [209]:
df[df["Category"] == "Footwear"].head(10)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Standard,Yes,Yes,14,Venmo,Weekly
10,11,53,Male,Shoes,Footwear,34,Arkansas,L,Purple,Fall,4.1,Yes,Store Pickup,Yes,Yes,26,Bank Transfer,Bi-Weekly
62,63,30,Male,Sneakers,Footwear,21,Mississippi,S,Magenta,Spring,3.8,Yes,Free Shipping,Yes,Yes,31,Credit Card,Fortnightly
64,65,65,Male,Boots,Footwear,83,Alabama,S,Green,Fall,4.8,Yes,Standard,Yes,Yes,18,Debit Card,Fortnightly
80,81,19,Male,Sandals,Footwear,72,New York,XL,Blue,Summer,3.3,Yes,Store Pickup,Yes,Yes,24,Credit Card,Every 3 Months
81,82,67,Male,Shoes,Footwear,96,Virginia,L,Maroon,Summer,2.6,Yes,Express,Yes,Yes,36,Credit Card,Every 3 Months
87,88,52,Male,Shoes,Footwear,53,Ohio,M,Green,Fall,3.7,Yes,2-Day Shipping,Yes,Yes,44,Debit Card,Fortnightly
95,96,37,Male,Sneakers,Footwear,100,Missouri,L,Pink,Fall,3.8,Yes,Free Shipping,Yes,Yes,48,PayPal,Monthly
97,98,21,Male,Shoes,Footwear,92,Virginia,M,Teal,Winter,4.8,Yes,Store Pickup,Yes,Yes,37,Cash,Annually

In [210]:
df_withoutNan = df.copy()
df_withoutNan.dropna().head(10)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Standard,Yes,Yes,14,Venmo,Weekly
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,3.2,Yes,Free Shipping,Yes,Yes,19,Credit Card,Weekly
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,2.6,Yes,Express,Yes,Yes,8,Venmo,Annually
9,10,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,4.8,Yes,2-Day Shipping,Yes,Yes,4,Cash,Quarterly

In [211]:
df["Purchase Amount (USD)"] = df["Purchase Amount (USD)"].replace(np.linspace(1, 50, dtype=int), np.nan)
df.head(10)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53.0,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64.0,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73.0,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90.0,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,NaN,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
5,6,46,Male,Sneakers,Footwear,NaN,Wyoming,M,White,Summer,2.9,Yes,Standard,Yes,Yes,14,Venmo,Weekly
6,7,63,Male,Shirt,Clothing,85.0,Montana,M,Gray,Fall,3.2,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly
7,8,27,Male,Shorts,Clothing,NaN,Louisiana,L,Charcoal,Winter,3.2,Yes,Free Shipping,Yes,Yes,19,Credit Card,Weekly
8,9,26,Male,Coat,Outerwear,97.0,West Virginia,L,Silver,Summer,2.6,Yes,Express,Yes,Yes,8,Venmo,Annually
9,10,57,Male,Handbag,Accessories,NaN,Missouri,M,Pink,Spring,4.8,Yes,2-Day Shipping,Yes,Yes,4,Cash,Quarterly

In [212]:
df["Purchase Amount (USD)"] = df["Purchase Amount (USD)"].replace(np.nan, df["Purchase Amount (USD)"].mean())
df.head(20)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53.000000,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64.000000,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73.000000,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90.000000,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,75.736798,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
5,6,46,Male,Sneakers,Footwear,75.736798,Wyoming,M,White,Summer,2.9,Yes,Standard,Yes,Yes,14,Venmo,Weekly
6,7,63,Male,Shirt,Clothing,85.000000,Montana,M,Gray,Fall,3.2,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly
7,8,27,Male,Shorts,Clothing,75.736798,Louisiana,L,Charcoal,Winter,3.2,Yes,Free Shipping,Yes,Yes,19,Credit Card,Weekly
8,9,26,Male,Coat,Outerwear,97.000000,West Virginia,L,Silver,Summer,2.6,Yes,Express,Yes,Yes,8,Venmo,Annually
9,10,57,Male,Handbag,Accessories,75.736798,Missouri,M,Pink,Spring,4.8,Yes,2-Day Shipping,Yes,Yes,4,Cash,Quarterly
10,11,53,Male,Shoes,Footwear,75.736798,Arkansas,L,Purple,Fall,4.1,Yes,Store Pickup,Yes,Yes,26,Bank Transfer,Bi-Weekly
11,12,30,Male,Shorts,Clothing,68.000000,Hawaii,S,Olive,Winter,4.9,Yes,Store Pickup,Yes,Yes,10,Bank Transfer,Fortnightly
12,13,61,Male,Coat,Outerwear,72.000000,Delaware,M,Gold,Winter,4.5,Yes,Express,Yes,Yes,37,Venmo,Fortnightly
13,14,65,Male,Dress,Clothing,51.000000,New Hampshire,M,Violet,Spring,4.7,Yes,Express,Yes,Yes,31,PayPal,Weekly
14,15,64,Male,Coat,Outerwear,53.000000,New York,L,Teal,Winter,4.7,Yes,Free Shipping,Yes,Yes,34,Debit Card,Weekly
15,16,64,Male,Skirt,Clothing,81.000000,Rhode Island,M,Teal,Winter,2.8,Yes,Store Pickup,Yes,Yes,8,PayPal,Monthly
16,17,25,Male,Sunglasses,Accessories,75.736798,Alabama,S,Gray,Spring,4.1,Yes,Next Day Air,Yes,Yes,44,Debit Card,Bi-Weekly
17,18,53,Male,Dress,Clothing,75.736798,Mississippi,XL,Lavender,Winter,4.7,Yes,2-Day Shipping,Yes,Yes,36,Venmo,Quarterly
18,19,52,Male,Sweater,Clothing,75.736798,Montana,S,Black,Summer,4.6,Yes,Free Shipping,Yes,Yes,17,Cash,Weekly
19,20,66,Male,Pants,Clothing,90.000000,Rhode Island,M,Green,Summer,3.3,Yes,Standard,Yes,Yes,46,Debit Card,Bi-Weekly

In [213]:
df_ATD = df.copy()

df_ATD["Purchase Amount (USD) to Review Rating"] = df["Purchase Amount (USD)"] / df["Review Rating"]
df_ATD.head(5)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases,Purchase Amount (USD) to Review Rating
0,1,55,Male,Blouse,Clothing,53.000000,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,17.096774
1,2,19,Male,Sweater,Clothing,64.000000,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,20.645161
2,3,50,Male,Jeans,Clothing,73.000000,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,23.548387
3,4,21,Male,Sandals,Footwear,90.000000,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly,25.714286
4,5,45,Male,Blouse,Clothing,75.736798,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually,28.050666

In [214]:
df_ATD["Purchase Amount (USD) to Review Rating"] = df.apply(lambda row: row["Purchase Amount (USD)"] / row["Review Rating"], axis=1)
df_ATD.head(5)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases,Purchase Amount (USD) to Review Rating
0,1,55,Male,Blouse,Clothing,53.000000,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,17.096774
1,2,19,Male,Sweater,Clothing,64.000000,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,20.645161
2,3,50,Male,Jeans,Clothing,73.000000,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,23.548387
3,4,21,Male,Sandals,Footwear,90.000000,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly,25.714286
4,5,45,Male,Blouse,Clothing,75.736798,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually,28.050666

In [215]:
df_ATD["Review Rating x 2"] = df["Review Rating"].apply(lambda x: x * 2)
df_ATD.head(5)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases,Purchase Amount (USD) to Review Rating,Review Rating x 2
0,1,55,Male,Blouse,Clothing,53.000000,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,17.096774,6.2
1,2,19,Male,Sweater,Clothing,64.000000,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,20.645161,6.2
2,3,50,Male,Jeans,Clothing,73.000000,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,23.548387,6.2
3,4,21,Male,Sandals,Footwear,90.000000,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly,25.714286,7.0
4,5,45,Male,Blouse,Clothing,75.736798,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually,28.050666,5.4

In [216]:
df_sortedByName = df.sort_values("Color")
df_sortedByName.head(5)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
3899,3900,52,Female,Handbag,Accessories,81.000000,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly
2238,2239,40,Male,Sneakers,Footwear,84.000000,Florida,L,Beige,Winter,3.8,No,Standard,No,No,18,Debit Card,Weekly
674,675,48,Male,Jewelry,Accessories,75.736798,Washington,XL,Beige,Winter,4.7,Yes,Store Pickup,Yes,Yes,36,Bank Transfer,Annually
143,144,30,Male,Coat,Outerwear,75.736798,Missouri,M,Beige,Fall,2.7,Yes,Store Pickup,Yes,Yes,25,PayPal,Quarterly
2259,2260,60,Male,Jeans,Clothing,96.000000,Florida,XL,Beige,Spring,3.3,No,Free Shipping,No,No,24,Cash,Annually

In [235]:
print("Average USD:", df['Purchase Amount (USD)'].mean())
print("Min USD:", df['Purchase Amount (USD)'].min())
print("Max USD:", df['Purchase Amount (USD)'].max())

Average USD: 75.73679798826488
Min USD: 51.0
Max USD: 100.0

In [218]:
print("Sizes:", df['Size'].value_counts())

Sizes:
 Size
M     1755
L     1053
S      663
XL     429
Name: count, dtype: int64

In [219]:
df["Season"].unique()

array(['Winter', 'Spring', 'Summer', 'Fall'], dtype=object)

In [220]:
df_newIndex = df.set_index("Customer ID")
df_newIndex.head(5)

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
Customer ID,,,,,,,,,,,,,,,,,
1,55,Male,Blouse,Clothing,53.000000,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
2,19,Male,Sweater,Clothing,64.000000,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
3,50,Male,Jeans,Clothing,73.000000,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
4,21,Male,Sandals,Footwear,90.000000,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
5,45,Male,Blouse,Clothing,75.736798,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [221]:
df_grouped = df.groupby("Location")[["Purchase Amount (USD)"]].mean()
df_grouped

                Purchase Amount (USD)
Location
Alabama                     75.691289
Alaska                      77.340633
Arizona                     76.570030
Arkansas                    77.871402
California                  75.526298
Colorado                    75.763487
Connecticut                 75.845455
Delaware                    74.865953
Florida                     73.152458
Georgia                     75.728830
Hawaii                      74.702005
Idaho                       76.975646
Illinois                    76.620121
Indiana                     74.751483
Iowa                        78.088463
Kansas                      75.405993
Kentucky                    73.626895
Louisiana                   73.976799
Maine                       73.945984
Maryland                    76.836576
Massachusetts               74.266799
Michigan                    77.330914
Minnesota                   74.727254
Mississippi                 75.736169
Missouri                    75.510054
Montana                     75.810291
Nebraska                    75.802160
Nevada                      76.010271
New Hampshire               74.209768
New Jersey                  75.322053
New Mexico                  74.998686
New York                    75.538399
North Carolina              74.553292
North Dakota                76.224462
Ohio                        76.131220
Oklahoma                    75.241386
Oregon                      75.716907
Pennsylvania                76.088183
Rhode Island                76.511263
South Carolina              73.995136
South Dakota                77.494719
Tennessee                   75.907708
Texas                       76.511262
Utah                        78.360991
Vermont                     74.315152
Virginia                    78.416934
Washington                  75.844975
West Virginia               77.353461
Wisconsin                   74.924191
Wyoming                     74.850985

In [222]:
df_grouped = df.groupby(["Gender", "Location"])[["Purchase Amount (USD)"]].max()
df_grouped

                      Purchase Amount (USD)
Gender Location
Female Alabama                        100.0
       Alaska                          97.0
       Arizona                        100.0
       Arkansas                        99.0
       California                     100.0
...                                     ...
Male   Virginia                       100.0
       Washington                     100.0
       West Virginia                  100.0
       Wisconsin                      100.0
       Wyoming                         99.0

[100 rows x 1 columns]

5. .pivot

In [223]:
df_pivot = df_grouped.reset_index().pivot(index="Location", columns="Gender", values="Purchase Amount (USD)")
df_pivot

Gender          Female   Male
Location
Alabama          100.0   99.0
Alaska            97.0   99.0
Arizona          100.0  100.0
Arkansas          99.0   99.0
California       100.0   99.0
Colorado          99.0   95.0
Connecticut       98.0   96.0
Delaware          98.0  100.0
Florida           91.0   98.0
Georgia           97.0   97.0
Hawaii           100.0   96.0
Idaho             99.0  100.0
Illinois          99.0   98.0
Indiana           92.0   97.0
Iowa              95.0  100.0
Kansas            96.0   98.0
Kentucky          95.0  100.0
Louisiana         97.0   99.0
Maine            100.0   92.0
Maryland         100.0  100.0
Massachusetts     99.0   98.0
Michigan          98.0  100.0
Minnesota         99.0   98.0
Mississippi       99.0   99.0
Missouri          96.0  100.0
Montana           91.0  100.0
Nebraska          99.0   97.0
Nevada           100.0   99.0
New Hampshire     98.0  100.0
New Jersey        94.0   99.0
New Mexico       100.0   99.0
New York          98.0   97.0
North Carolina    90.0   99.0
North Dakota      99.0  100.0
Ohio             100.0   99.0
Oklahoma         100.0   98.0
Oregon            90.0  100.0
Pennsylvania      96.0  100.0
Rhode Island      92.0   99.0
South Carolina    99.0  100.0
South Dakota      99.0  100.0
Tennessee         99.0  100.0
Texas             99.0   98.0
Utah             100.0  100.0
Vermont           98.0   99.0
Virginia          99.0  100.0
Washington        97.0  100.0
West Virginia     91.0  100.0
Wisconsin         96.0  100.0
Wyoming           99.0   99.0

6. .pivot_table

In [224]:
pivot_table = pd.pivot_table(df, 
                            values="Purchase Amount (USD)", 
                            index="Location", 
                            columns="Gender", 
                            aggfunc='mean')

pivot_table

Gender             Female       Male
Location
Alabama         77.152029  75.055160
Alaska          80.820166  75.600866
Arizona         79.126303  74.972360
Arkansas        78.776832  77.452221
California      74.969130  75.771114
Colorado        76.263138  75.498366
Connecticut     73.198814  77.246618
Delaware        76.282079  74.285573
Florida         70.281559  74.348666
Georgia         76.028053  75.545632
Hawaii          74.672913  74.709991
Idaho           76.948893  76.991064
Illinois        76.354373  76.748709
Indiana         76.758493  74.201174
Iowa            76.479858  78.614353
Kansas          75.899972  74.956920
Kentucky        75.543839  72.453256
Louisiana       75.783614  73.120939
Maine           75.838192  72.924191
Maryland        74.842085  77.799433
Massachusetts   72.384849  74.804499
Michigan        80.059199  75.994611
Minnesota       76.405999  73.943839
Mississippi     75.107360  76.021992
Missouri        71.356710  76.696723
Montana         73.192505  77.525392
Nebraska        78.994537  74.205972
Nevada          75.858427  76.086192
New Hampshire   76.042590  73.439983
New Jersey      73.046032  76.592390
New Mexico      74.197360  75.261416
New York        72.976832  76.571290
North Carolina  74.517147  74.568407
North Dakota    74.934199  76.749315
Ohio            76.315771  76.025763
Oklahoma        74.810051  75.432168
Oregon          73.112761  76.748739
Pennsylvania    74.450281  77.029106
Rhode Island    73.537738  78.221039
South Carolina  75.162895  73.549265
South Dakota    74.552618  78.843182
Tennessee       74.541896  76.645247
Texas           77.411466  75.836108
Utah            77.339170  78.988017
Vermont         72.778017  74.885380
Virginia        79.631566  77.866912
Washington      77.673663  74.892533
West Virginia   73.700208  78.802165
Wisconsin       73.353663  75.709455
Wyoming         74.768399  74.883372

7. numpy.percentile

In [234]:
print("Quantile:", np.percentile(df['Review Rating'], [25, 50, 75]))

Quantile: [3.1 3.7 4.4]

8. numpy.histogram

In [233]:
print("Hist:", np.histogram(df['Review Rating']))

Hist: (array([379, 306, 471, 334, 461, 305, 500, 305, 461, 378], dtype=int64), array([2.5 , 2.75, 3.  , 3.25, 3.5 , 3.75, 4.  , 4.25, 4.5 , 4.75, 5.  ]))

9. .iterrows()

In [236]:
for index, row in df.iterrows():
    print(f"Purchase Amount (USD) to Previous Purchases: {row['Purchase Amount (USD)'] / row['Previous Purchases']}")
    if(index > 5): break

Purchase Amount (USD) to Previous Purchases: 3.7857142857142856
Purchase Amount (USD) to Previous Purchases: 32.0
Purchase Amount (USD) to Previous Purchases: 3.1739130434782608
Purchase Amount (USD) to Previous Purchases: 1.836734693877551
Purchase Amount (USD) to Previous Purchases: 2.44312251575048
Purchase Amount (USD) to Previous Purchases: 5.409771284876063
Purchase Amount (USD) to Previous Purchases: 1.7346938775510203

10. DataFrame с MultiIndex

In [228]:
data = {
    ('A', 'one'): [1, 2, 3],
    ('A', 'two'): [4, 5, 6],
    ('B', 'one'): [7, 8, 9],
    ('B', 'two'): [10, 11, 12]
}

index = pd.MultiIndex.from_tuples([('row1', 'subrow1'), ('row2', 'subrow2'), ('row3', 'subrow3')], names=['row_index', 'sub_row_index'])

df_test = pd.DataFrame(data, index=index)

df_test

                          A       B
                        one two one two
row_index sub_row_index
row1      subrow1         1   4   7  10
row2      subrow2         2   5   8  11
row3      subrow3         3   6   9  12

In [229]:
df_multiIndex = df.set_index(["Customer ID", "Location"])
df_multiIndex.head(5)

,,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
Customer ID,Location,,,,,,,,,,,,,,,,
1,Kentucky,55,Male,Blouse,Clothing,53.000000,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
2,Maine,19,Male,Sweater,Clothing,64.000000,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
3,Massachusetts,50,Male,Jeans,Clothing,73.000000,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
4,Rhode Island,21,Male,Sandals,Footwear,90.000000,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
5,Oregon,45,Male,Blouse,Clothing,75.736798,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

11. .merge

In [230]:
df1 = pd.DataFrame({
    'student_id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David']
})

df2 = pd.DataFrame({
    'student_id': [1, 2, 3, 5],
    'grade': ['A', 'B', 'C', 'A']
})

merged_df = pd.merge(df1, df2, on='student_id')

merged_df

   student_id     name grade
0           1    Alice     A
1           2      Bob     B
2           3  Charlie     C

12. .concat

In [231]:
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
}, index=[0, 1, 2, 3])

df2 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']
}, index=[4, 5, 6, 7])

result = pd.concat([df1, df2])

result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7